{% extends 'base.html.twig' %}
{% block title %}Playlist vacia- MiSpotify{% endblock %}
{% block contenido %}
<div style="text-align: center; padding: 50px;">
<h1>Playlist vacia</h1>
</div>
{% endblock %}